@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Social Media Circled";
    src: url('assets/SocialMediaCircled.otf');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100%;
    position: relative;
    background: linear-gradient(to right, #240366, #1a0230);
}

body::after {
    content: "";
    background-image: url('/assets/background_texture.png');
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

header, h2, #icons{
    padding: 1.5rem 0rem;
}

header > img{
    width: 15rem;
}

.presentation{
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.presentation > img{
    margin-top: 2rem;
    width: 15rem;
}

strong{
    color: #fff;
  text-shadow:
    0 0 12px #fff;
}

#icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#icons > img{
    width: 5rem;
    padding: .5rem;
}

p{
    margin: 1rem 3rem;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#social, a{
    color: white;
    font-family: 'Social Media Circled';
    text-decoration: none;
    font-size: 3rem;
    cursor: pointer;
}

footer > img{
    width: 5rem;
    margin-top: 1.5rem;
}
